
body{
    background-color: #24353f;
    }
    h5{
        color: aliceblue;
        font-family:monospace
    }
    h1,h3{
        color: #17a2b8;
        font-size: 2.5rem;
    }
    .contant{
        box-shadow: -5px 2px 54px -9px rgb(0 0 0);
    }
    
    input{
        color: aliceblue !important;
    }
    .form-control{
        background-color: transparent !important;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        line-height: 1.5;
        color: #ced4da;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -o-transition: 0.5s all;
    }
    .form-control:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        border: 1px solid #17a2b8;
    
    }
    .masggd{
        color: rgb(242, 8, 8);
        border: 5px solid rgba(165, 30, 30, 0.267);
        background-color: rgba(255, 0, 0, 0.152);
        
    }
    a{
        color: #17a2b8;
    }
    span{
        color: aliceblue;
        font-size: 2em;
    }
    .loginout {
        position: absolute;
       top: 15px;
       right: 10px;
     
       }
       



